$color-white: #ffffff!default;
$color-blue: #378dcc!default;
$color-grey: #ecf0f3!default;

$grid-column-number: 12!default;

$site-background-color: $color-grey;
$color-primary: $color-blue;

$color-input-outline: $color-grey;
$color-input-outline-selected: $color-primary;