.container {
    width: 1200px;
    margin: auto;

    display: grid;
    grid-template-columns: repeat($grid-column-number, 1fr);
    grid-gap: 10px;
}

.container-fluid {
    width: 100%;
    margin: auto;

    display: grid;
    grid-template-columns: repeat($grid-column-number, 1fr);
    grid-gap: 10px;
}

@for $i from 1 to $grid-column-number {
    @for $j from 1 to $grid-column-number + 1 {
        @if $i + $j <= $grid-column-number + 1 {
            .grid-#{$i}-#{$j} {
                grid-column: #{$i} / span #{$j};
            }
        }
    }
}